<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/about.css" th:href="@{/css/about.css}">
    <link rel="stylesheet" href="../static/css/blogs.css" th:href="@{/css/blogs.css}">
    <link rel="stylesheet" href="../static/css/public.css" th:href="@{/css/public.css}">
    <link rel="stylesheet" href="../static/css/animate.min.css" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" href="../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}">
</head>
<body>

<nav class="">
    <ul class="layui-nav center">
        <li class="layui-nav-item"><a href="index.html" th:href="@{/}">首页</a></li>
        <li class="layui-nav-item"><a href="type.html" th:href="@{/types/-1}">分类</a></li>
        <li class="layui-nav-item"><a href="tag.html" th:href="@{/tags/-1}">标签</a></li>
        <li class="layui-nav-item"><a href="archives.html" th:href="@{/archives}">归档</a></li>
        <li class="layui-nav-item layui-this"><a href="about.html" th:href="@{/about}">关于我</a></li>
    </ul>
</nav>

<div class="main-container" >
    <div class="layui-container">
        <div class="layui-row ">
            <div class="layui-col-md8" >
                <div class="about-left" >
                    <div class="a-content animated slideInLeft" style="background-color: rgba(255,255,255,0.9)">
                        <p>90后男程序员一枚！希望一边工作一边积累经验，记录自己遇到的问题，不断进步。但行好事，莫问前程。</p>
                        <br/>
                        <p>这个博客是一个技术型的博客，我把自己掌握的知识到运用到这里，也将自己遇到的问题，都记录下来，方便自己查阅。 这个网站是从零开始搭建的，并且我这个个人博客我会一直坚持下去的，也会一直往技术方面走。</p>
                        <br/>
                        <br/>
                        <br/>
                        <p>About my blog</p>
                        <br/>
                        <p>域 名： 创建于2020年09月26日</p>
                        <br/>
                        <p>服务器：阿里云服务器 </p>
                        <br/>
                        <p>备案号：浙ICP备2020033999号-1</p>
                        <br/>
                        <p>程 序： Java Springboot Mybatis</p>
                    </div>
                </div>
            </div>

            <div class="layui-col-md4" >
                <div class="about-right">
                    <div class="a-title animated slideInDown" style="background-color: rgba(255,255,255,0.9)"><h3>关于我</h3></div>
                    <div class="a-img animated slideInRight" style="background-color: rgba(255,255,255,0.9)">
                        <img id="img" src="../static/img/img010.jpg" th:src="@{/img/img010.jpg}" alt="">
                        <div id="name">Hejun</div>
                    </div>
                    <div class="a-tags animated slideInUp">
                        <div class="motto" style="background-color: rgba(255,255,255,0.9)">在学习的道路上一直走下去，做一个永远的修行者...</div>
                        <div class="information" style="background-color: rgba(255,255,255,0.9)">
                            <i class="layui-icon layui-icon-login-wechat tooltip" style="font-size: 35px; color: #1E9FFF;">
                                <span class="tooltiptext">
                                    <img src="..\static\img\微信图片_20200809182130.jpg" th:src="@{\img\微信图片_20200809182130.jpg}">
                                </span>
                            </i>
                            <i class="layui-icon layui-icon-login-qq tooltip" style="font-size: 35px; color: #1E9FFF;">
                                <span class="tooltiptext">
                                   707054726
                                </span>
                            </i>
                            <i class="layui-icon layui-icon-login-weibo" style="font-size: 35px; color: #1E9FFF;"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<footer th:replace="_fragments :: footer" class="main-footer">
    <div class="center container">
        <div class="item">
            <div  id="imgContainer">
                <img src="..\static\img\微信图片_20200809182130.jpg" th:src="@{\img\微信图片_20200809182130.jpg}">
            </div>
        </div>
        <div class="item">
            <h3>最新博客</h3>
            <div>
                <a href="">用户故事（User Story）</a>
                <a href="">用户故事（User Story）</a>
                <a href="">用户故事（User Story）</a>
            </div>
        </div>
        <div class="item">
            <h3>联系我</h3>
            <a href="">Email:707054726@qq.com</a>
            <a href="">QQ:707054726</a>
        </div>
        <div class="item-last">
            <h3>blog</h3>
            <div>这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</div>
        </div>
        <div class="clear"></div>
    </div>
    <p>
        <span>Copyright</span>
        <span>&copy;</span>
        <span>2020-2021</span>
        <span>Design By HJ</span>
    </p>
</footer>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="../static/layui/layui.js"></script>
<!--/*/</th:block>/*/-->
<script>
    layui.use('element',function () {
        var element = layui.element;
    })

</script>
</body>
</html>